{% extends 'base.html.twig' %}

{% block body %}
    <p>{% trans %}hello_world{% endtrans %}</p>
    <p>{% trans %}homepage.welcome_message{% endtrans %}</p>

    <h1>Taches non faites list</h1>

    {{ include('TodoBundle::Task/tasks.html.twig', { 'pagination': pagination, 'mon_path':mon_path}) }}

{% endblock %}